.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 1s ease-in-out 100ms;
}
.box:hover{
    /* transform: rotate(-45deg); */
    /* transform: scale(2); */
    /* transform: skew(-20deg); */
    /* transform: translate(60px,60px); */
    /* transform: perspective(100px); */
    transform: matrix(0.866,0.7,-0.8,0.866,0,0);

}

p{
    font-size: 36px;
}